@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

main {
    padding: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    min-height: 100vh;  /* Define a altura mínima como 100% da tela */
    height: auto;  /* Deixa a altura automática para se ajustar ao conteúdo */
    max-height: 100%;  /* Não ultrapassa 100% da altura */
    /*border-radius: 0px 18px 18px 0px;*/
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    
}

#user:hover{
    cursor: pointer;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #388DA8;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #388DA8;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    margin-top: 8px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.dropdown-content li {
    margin: 8px 0;
}

.dropdown-content li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-content li a:hover {
    color: #388DA8;
}

.dropdown.open .dropdown-content {
    display: flex;
}

.dropdown-icon {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.dropdown.open .dropdown-icon {
    transform: rotate(180deg);
}

/*Main da tela principal - Inicio*/

.board-container{

    display: flex;
    height: 50vh;
    min-width: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.board-son {
    min-width: 150px;
    width: 300px;
    max-width: 300px;
    min-height: 60px;
    height: 100px;
    max-height: 150px;
    background-color: #ffffff; /* Branco puro */
    border-radius: 12px;  /* Bordas arredondadas mais suaves */
    border: 1px solid rgb(220, 220, 251);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Adiciona uma sombra sutil */
    display: flex;  /* Flexbox para alinhar o conteúdo */
    flex-direction: column;
    justify-content: center;  /* Centraliza o conteúdo verticalmente */
    align-items: center;  /* Centraliza o conteúdo horizontalmente */
    text-align: center;  /* Centraliza o texto */
    padding: 10px;  /* Adiciona espaçamento interno */
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Animações suaves */
}

/* Estilo para o hover (ao passar o mouse) */
.board-son:hover {
    cursor: pointer;
    transform: translateY(-5px);  /* Elevação ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);  /* Sombra mais forte ao passar o mouse */
}

/* Estilo para os textos dentro da .board-son */
.board-son p:first-child {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.board-son p:last-child {
    font-size: 32px;
    font-weight: bold;
    color: #388DA8;
}

/*Fim da main da tela principal*/



/*Criar chamado - se houver conflito com os css fazer aqui!*/

.ajust-section {
    width: 90%;
    max-width: 1200px; 
    height: auto; /* Ajusta a altura automaticamente */
    background-color: white;
    border-radius: 8px;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column; /* Alinhamento em coluna para telas menores */
}

.div-container{
    display: flex;
    height: 80vh;
    flex-direction: column;
    gap: 20px;
}

.form-chamado{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-chamado input, textarea, select{
    outline-style: none;
    padding: 5px;
}

.hidden-file-input{
    width: 60%;
}

.form-chamado input, .form-chamado textarea {
    border: 1px solid rgb(220, 220, 251);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.form-chamado input:focus, .form-chamado textarea:focus {
    border-color: #388DA8;
    box-shadow: 0 0 5px #388DA8;
    transition: border-color 0.3s, box-shadow 0.3s;
}


.select-ajust{
    width: 165px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.select-ajust:hover{
    cursor:pointer
}

.select-ajust option {
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.span-form{
    display: inline;
    font-size: 12px;
    font-weight: initial;
    color: #6b6b6b;
}

.input-ajust{
    width: 30%;
    
}

.text-area{
    width: 50vw;
    height: 20vh;
}

.btn-forms {
    width: 200px;
    height: 30px;
    background-color: #388DA8;
    border: none;
    color: #ffffff;
    box-shadow: 0 0 5px #388DA8;
    transition: all 0.5s ease;
}

.btn-forms:hover {
    cursor: pointer;
    background-color: #2a6d8a;
    box-shadow: 0 0 15px #388DA8;
}


/* FIm Criar chamado !*/

/*Acompanhar Chamado - Inicio */

.div-form{
    display: flex;
    align-items: start;
    min-width: 200px;
    width: 50%;
    max-width: 600px;
}
.table-container {
    width: 100%;
    overflow-x: auto; /* Habilita rolagem horizontal em telas pequenas */
}

table {
    width: 100%;
    border-collapse: collapse;  /* Remove espaçamento entre células */
    background-color: #ffffff;  /* Fundo branco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra leve para destacar a tabela */
    border-radius: 8px;  /* Bordas arredondadas */
    overflow: hidden;  /* Para bordas arredondadas */
    margin-top: 20px;
    border: 1px solid #ccc;

}

th, td {
    white-space: nowrap; /* Evita que o conteúdo quebre */
    padding: 12px 15px;
}

th {
    background-color: #388DA8;  /* Fundo azul */
    color: #ffffff;  /* Texto branco */
    text-align: left;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: bold;
}

/* Estilos para as células de dados */
td {
    padding: 12px 15px;
    font-size: 14px;
    color: #333;
}


/* Estilo para o hover das linhas */
tr:hover {
    background-color: #f0f4f8;  /* Cor de fundo ao passar o mouse */
    transition: background-color 0.2s ease;
}

.btn-edit{
    background-color: #388DA8;  /* Azul */
    color: #ffffff;  /* Texto branco */
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.5s ease;
}

.btn-edit:hover{
    cursor: pointer;
    background-color: #67aac7;  /* Azul mais escuro no hover */
}

.div-form form{
    display: flex;

}

.form-acompanha{
    display: flex;

    gap: 20px;
    align-items: center;
}

.form-acompanha input{
    border: 1px solid rgb(220, 220, 251);
    padding: 10px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    outline: none;
    gap: 10px;
}

.form-acompanha input:focus{
    border-color: #388DA8;
    box-shadow: 0 0 5px #388DA8;
    transition: border-color 0.3s, box-shadow 0.3s;
}





/*Acompanhar Chamado - FIM*/






























/*Ajuste para dispositivos moveis*/

@media (max-width: 768px) {
    .ajust-section {
        padding: 10px;
    }
    .form-acompanha{
        flex-wrap: wrap;
    }
    .div-form {
        width: 100%;
    }

    .board-container {
        flex-wrap: initial;

        gap: 20px;
    }

    table, th, td {
        font-size: 12px; /* Tamanho de texto menor em telas pequenas */
    }
}

@media (max-width: 480px) {
    .ajust-section {
        padding: 5px;
    }

    th, td {
        padding: 8px 10px; /* Menor espaçamento para ajustar a tabela */
    }

    .board-container {
        gap: 10px; /* Menor espaçamento entre as caixas do board */
    }

    .form-acompanha{
        flex-wrap: wrap;

    }

}



