@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2,#c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 560px;
    display: flex;
    max-width: 100%;
    min-height: 480px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


.container-form-reset{

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-form-reset form{
    display: flex;
    justify-content: flex-start;
    width: 300px;
    flex-direction: column;
}

.container-form-reset form input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    transition: 0.2s;
}

.container-form-reset form input:focus{
    border: 1px solid #27afd8; 
    background-color: #E9F7FF; 
    outline: none;
    transition: 0.2s;
}

.container-form-reset form button{
    background-color: #27afd8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.container-form-reset form p{
    margin-top: 25px;
}

.container-form-reset form button:hover{
    box-shadow: 0 0 10px #022f5a;
    transition: 0.5s;
}


